.navbar-brand {
  font-size: 1.35rem;
  color: #14798A !important;
  letter-spacing: -1px;
}
.avatar-sm {
  width: 32px;
  height: 32px;
}
.nav-link.active {
  font-weight: 600;
  color: #16998e !important;
}
