.article-card {
  border-radius: 13px;
  overflow: hidden;
  border: none;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 4px 18px rgba(22,153,142,0.11);
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .title-wrap {
    max-height: 3rem;
    overflow: hidden;
  }

  .summary-wrap {
    max-height: 4.5rem;
    overflow: hidden;
  }
}
