input.form-control, select.form-select {
  border-radius: 7px;
}
.row {
  --bs-gutter-x: 1.2rem;
}
.pagination .page-link {
  border-radius: 6px !important;
}
.pagination {
  .page-link {
    border-radius: 999px;
    padding-inline: 1rem;
  }
}
